html {
    --text: #08080c;
    --background: #ffffff;
    --primary: #208901;
    --secondary: #1f2c3b;
    --accent: #226407;
}

* {
    /* border: 1px solid red; */
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Montserrat"
}

li::marker {
    color: var(--accent);
    font-size: 1.3rem;
    font-stretch: expanded;
    font-style: oblique;
    font-weight: 500;
    line-height: 30px;
}

h1 {
    color: var(--secondary);
    font-family: "Righteous";
    font-weight: 800;
    font-stretch: condensed;
    font-style: oblique;
    font-size: xx-large;
    text-decoration: underline;
    height: 10%;
}

h2,
h3 {
    color: var(--primary);
    font-family: "Righteous";
    font-weight: 100;
    line-height: 110%;
}

h2 {
    text-decoration: wavy underline;
    font-style: italic;
}

h3 {
    text-decoration: underline dotted;
}

img {
    padding: 2px;
    border-radius: 15px;
    border: 4px groove var(--accent);
    background: var(--secondary);
    margin: 1em
}

li {
    border: 1px groove var(--accent);
    width: 500px;
}

audio {
    background: var(--text);
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 5px;
}